---
import Layout from '../layouts/Layout.astro'
import HeaderStatic from '../components/HeaderStatic.astro'
---

<Layout title="Formulários - Weedmed">
  <div class="min-h-screen bg-gray-50">
    <HeaderStatic currentPath="/forms" />
    <div class="flex items-center justify-center min-h-[calc(100vh-200px)]">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl text-gray-800 text-center"
        style="font-family: Inter, sans-serif; font-weight: 500;"
      >
        Em construção
      </h1>
    </div>
  </div>
</Layout>
