---
import Layout from '../layouts/Layout.astro'
import HeaderStatic from '../components/HeaderStatic.astro'
import HeroStatic from '../components/HeroStatic.astro'
import VideoTestimonials from '../components/VideoTestimonials'
import Benefits from '../components/Benefits'
import ProblemPicker from '../components/ProblemPicker'
import Steps from '../components/Steps'
import TestimonialCarousel from '../components/TestimonialCarousel'
import Doctors from '../components/Doctors'
import WrittenTestimonials from '../components/WrittenTestimonials'
import ExplainerVideo from '../components/ExplainerVideo'
import FAQ from '../components/FAQ'
import Partners from '../components/Partners'
import Footer from '../components/Footer'
---

<Layout title="Weedmed">
  <div class="min-h-screen bg-gray-50">
    <!-- Above the fold - Static HTML for fast LCP -->
    <HeaderStatic currentPath="/" />
    <HeroStatic />

    <!-- Below the fold - Hydrated when visible -->
    <VideoTestimonials client:visible />
    <Benefits client:visible />
    <ProblemPicker client:visible />
    <Steps client:visible />
    <TestimonialCarousel client:visible />
    <Doctors client:visible />
    <WrittenTestimonials client:visible />
    <ExplainerVideo client:visible />
    <FAQ client:visible />
    <Partners client:visible />
    <Footer />
  </div>
</Layout>
